
<h1 id='heading'>CodeForces Contests</h1> 

<table class="table table-striped">
    <thead>
      <tr>
        <th >#</th>
        <th >Contest Name</th>
        <th >PlatForm</th>
        <th >Start Date</th>
        <th >End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Cook Off</td>
        <td>CodeChef</td>
        <td>05.10.2021</td>
        <td>05.10.2021</td>
      </tr>
      <tr>
        <th>2</th>
        <td>LunchTime</td>
        <td>CodeChef</td>
        <td>20.10.2021</td>
        <td>20.10.2021</td>
      </tr><tr>
        <th>3</th>
        <td>Weekly Contest</td>
        <td>LeetCode</td>
        <td>12.10.2021</td>
        <td>12.10.2021</td>
      </tr><tr>
        <th>4</th>
        <td>Codeforces Round #670 </td>
        <td>CodeChef</td>
        <td>05.10.2021</td>
        <td>05.10.2021</td>
      </tr>
    </tbody>
  </table>
